.THIS  .set-max-height{
    max-height:17rem;
}

.THIS .page-header-mobile{
    padding:16px; 
}

.THIS .info-title{
  justify-content:center;
  font-weight:normal;
}

.THIS .page-header-size{
    height:3.5rem;
    border-bottom:1px solid #dddbda;
    font-weight:550;
}

.THIS .no-access-color{
    color: t(noAccessColor);
    border-bottom:1px dotted;
}
.THIS .dotted-underline{
    border-bottom:1px dotted;
}

.THIS .slds-accordion__list-item {
    border-top: 0;
}

.THIS .slds-accordion__section{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0;
}

.THIS .slds-accordion__summary-heading .slds-button:focus {
	text-decoration: none;
}

.THIS .slds-accordion__summary-action {
	background: rgb(243, 242, 242);
	padding: 0.5rem;
	font-weight: 700;
	font-size: small;
}